.registr{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.form > input{
    width: 600px;
    height: 50px;
    background: #F3F3F3;
    border-radius: 61px;
    margin-bottom: 25px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
    
}